name: Test Local Action

on:
  workflow_call:
  workflow_dispatch: # to trigger manually

permissions:
  actions: write
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-latest,
            ubuntu-24.04,
            ubuntu-22.04,
            ubuntu-24.04-arm,
            ubuntu-22.04-arm,
            macos-latest,
            macos-26,
            macos-15,
            macos-14,
            macos-15-intel,
            windows-latest,
            windows-2025,
            windows-2022,
            windows-11-arm,
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Verify GitHub Workflows
        uses: ./
