name: Verify Workflows

on:
  workflow_call:
  workflow_dispatch: # to trigger manually

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-latest,
            ubuntu-24.04,
            ubuntu-22.04,
            ubuntu-24.04-arm,
            ubuntu-22.04-arm,
            macos-latest,
            macos-26,
            macos-15,
            macos-14,
            macos-15-intel,
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Verify GitHub Workflows
        uses: durandtibo/verify-github-workflow-action@v0.0.1
